

.gr1d-credit-card {
    padding: $global-gutter;
    border-radius: 5px;
    border: 2px solid $color-purple;
    background: $color-pale-lavender;
    width: 300px;
    p {
        margin-bottom: 0px;
    }
    .gr1d-credit-card__title-number, .gr1d-credit-card__title-validate {
        font-weight: bold;
        font-size: 10px;
    }

    .gr1d-credit-card__holder-name {
        font-size: 16px;
        margin-bottom: $global-gutter;
    }
}

.gr1d-credit-card__flag {
    width: 48px;
    height: 36px;
    background: $color-grey-dark;
    border-radius: 5px;
}

.gr1d-credit-card__flag.amex {
    background: url('/assets/credit-cards/amex.svg') no-repeat center center;
}

.gr1d-credit-card__flag.diners {
    background: url('/assets/credit-cards/diners-club.svg') no-repeat center center;
}

.gr1d-credit-card__flag.discover {
    background: url('/assets/credit-cards/discover.svg') no-repeat center center;
}

.gr1d-credit-card__flag.elo {
    background: url('/assets/credit-cards/elo.svg') no-repeat center center;
}

.gr1d-credit-card__flag.hiper {
    background: url('/assets/credit-cards/hiper.svg') no-repeat center center;
}

.gr1d-credit-card__flag.jcb {
    background: url('/assets/credit-cards/jcb.svg') no-repeat center center;
}

.gr1d-credit-card__flag.mastercard {
    background: url('/assets/credit-cards/mastercard.svg') no-repeat center center;
}

.gr1d-credit-card__flag.visa {
    background: url('/assets/credit-cards/visa.svg') no-repeat center center;
}


