.gr1d-admin {

    @extend %gr1d-md-input-container,
            %gr1d-select,
            %gr1d-btn-md-actions;

    &, md-content, .main-content {
        background: $color-white-3;
    }

    button {
        margin: 0;
    }
    p {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    h1 {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: $global-gutter * 2;
    }
    table {
        width: 100%;
        margin-bottom: 0;
        border: 0;

        thead tr th, tbody tr td {
            padding: $global-gutter;
        }

        .api-box-icon.default {
            background-size: auto 75%;
        }

        &.md-table th.md-column {
            font-size: 18px;
        }

        &.md-table td.md-cell {
            font-size: 16px;
            line-height: 1.5;
        }

        &.md-table tbody.md-body > tr.md-row, &.md-table tfoot.md-foot > tr.md-row {
            height: 60px;
        }
    }

    .gr1d-card {
        background: $color-white;
        box-shadow: $global-shadow;
        padding: $global-gutter;
        margin-bottom: $global-gutter * 3;
    }

    .gr1d-header {
        margin-bottom: $global-gutter;
    }

    .gr1d-header__title {
        font-weight: bold;
        margin-bottom: $global-gutter;
    }

    .md-headline  {
        font-weight: 700;
        color: $color-dark-grey;
      }

    .md-subheader {
        &, &.md-primary {
            background-color: transparent !important;
        }

        .md-subheader-inner {
            border: 0;
            margin: 5px 0 15px 3px;
            font-weight: 700;
            font-size: 22px;
            padding: 15px 0;
        }
    }

    .md-subheader-content {
        color: black;
    }

    .widget-card > md-card-title {
        padding-top: 0 !important;
    }

    .md-title {
        font-size: 22px !important;
        margin-top: 15px;
    }

    .md-subhead {
        font-size: 16px !important;
        padding-left: 1px;
        color: $color-greyish-brown;
    }

    md-card .md-actions, md-card md-card-actions {
        margin: 15px 2px 30px 2px;
    }

    .gravitee-analytics-timeframe-active {
      color: $color-white;
      background: $color-lighter-purple;
    }
}

.gr1d-admin-container{
    width: 100%;
    padding-top: $global-gutter;
    position: relative;
    display: inline-block;
}

.gr1d-admin-main-content {
    max-width: 1280px;
    margin: 0 auto;
    padding-right: $global-gutter;
    padding-left: $global-gutter;
}
