%gr1d-input {
  input {
    background-color: $color-white-two;
    height: 60px;
    padding: 15px 0 0 15px;
    font-size: 20px;
  }
}

%gr1d-select {
  md-input-container > md-select {
    background-color: $color-white-two;
    padding: 20px 0 0 0;
    font-size: 20px;
    border-bottom-width: 2px;
  }

  md-select.md-default-theme .md-select-value, md-select .md-select-value {
    padding: 5px 10px 5px 14px;
    border-bottom-width: 2px;
  }

  md-select.ng-empty .md-select-value {
    padding: 0px 14px 9px 14px;
  }

}

%gr1d-md-input-container {
  md-input-container {
    margin: 0 0 10px 0;
    width: 100%;
    &:not(.md-input-invalid):not(.md-input-has-value) {
      label {
        color: $color-grey-dark;
      }
    }

    .hint {
      bottom: 9px;
    }
  }
  md-input-container label:not(.md-no-float):not(.md-container-ignore),
  md-input-container .md-placeholder {
    transform: translate3d(20px, 48px, 0) scale(1);
    font-weight: 400;
    font-size: 20px;
  }
  md-input-container .md-input {
    border-width: 0 0 2px 0;
  }
  md-input-container.md-input-focused label:not(.md-no-float),
  md-input-container.md-input-has-placeholder label:not(.md-no-float),
  md-input-container.md-input-has-value label:not(.md-no-float) {
    transform: translate3d(15px, 38px, 0) scale(0.65);
    color: $color-purple;;
    font-weight: 700;
  }
  md-input-container.md-input-focused label:not(.md-no-float) {
    color: $color-purple;
  }
  md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: $color-purple;
  }

}

.gr1d-form {

  @extend %gr1d-input, %gr1d-md-input-container, %gr1d-select;

  .md-primary {
    display: flex;
    justify-content: center;
    padding: 2px 50px 2px 40px;
    margin: 0 auto;
    span {
      font-size: 18px;
      margin-left: 10px;
    }
  }
}
