// Page Api Overview


#header {
    .api-title {
        font-size: 42px;
        padding-left: 24px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 480px;
    }
    .api-version {
        font-size: 22px;
        padding-left: 24px;
        color: $color-brownish-grey;
    }
    .api-description {
        font-size: 22px;
        color: $color-brownish-grey;
        &.api-details {
            font-size: 16px;
        }
    }
}

.api-no-plans {
    background: $color-grey;
    padding-bottom: 100px;
}

.api-nav {
    background: $color-white;
    ul li {
        &.active {
            a {
                color: $color-purple;
            }
        }
        a {
            color: $color-black;
            font-size: 18px;
            font-weight: bold;
        }
    } 
}

#description {
    background: $color-grey;
}

api-pages {
    md-content {
        background: $color-grey;
        &.layout-margin {
            margin: 0px;
        }
    }
    .doc-sidenav ul {
        display: none;
    }
}

.api-buttons {
    padding: 0;
    li {
        display: inline;
    }
}

.api-pages {
    padding: 0;
    margin: 0;
}

#plans {
    background: $color-greyish-brown !important;
    .section-title {
        color: $color-white;
        margin: 0;
    }
    .pricing-list {
        margin: 0px;
        .gravitee-card {
            h2 {
                font-family: $font-family-1;
                font-size: 22px;
                font-weight: bold;
                padding-bottom: 0px;
            }
            .pricing-description {
                color: $color-brownish-grey;
                font-size: 16px;
            }
        }
        .pricing-header {
            padding: 0px;
        }
    }
}

.api-overview-detail {
    .selling-point {
        margin-right: $global-gutter;
        img {
            width: 80px;
            height: 80px;
            margin-bottom: $global-gutter;
        }
        p {
            font-size: 22px;
            color: $color-brownish-grey;
            strong {
                color:  $color-black;
            }
        }
    }
}