md-toolbar.topnavbar {
  max-height: none;
  height: auto;
  min-height: auto;
  padding: 0 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);

  .topnavbar-brand {

    .topnavbar-logo {
      margin-left: $global-gutter;
      margin-right: $global-gutter;

      img {
        max-width: 110px;
      }
    }
  }

  .md-button:not(.login-btn)  {
    margin: 0 8px;
    text-transform: none;
    padding: 20px 10px;
    border-bottom: 4px solid transparent;

    &:not([disabled]):hover {
      color: $color-black;
    }
  }

  .md-button.login-btn {
    background-color: $color-purple !important;
    color: white;
    padding: 4px 20px 5px 15px;

    &:hover {
      background-color: $color-purpleish-blue;
    }
  }

  .md-button.menu-active:not(.login-btn),
  .md-button.md-default-theme:not([disabled]).md-focused, 
  .md-button:not([disabled]).md-focused, 
  .md-button.md-default-theme:not([disabled]):hover, 
  .md-button:not([disabled]):not(.login-btn):hover {
    background-color: transparent !important;
    border-bottom: 4px solid $color-purple !important;
    border-radius: 0 !important;
  }

}

md-menu-content.gv-menu-content {
  .gr1d-icon {
    width: 20px;
    height: 20px;
    border-radius: 0;
    margin-right: 10px;
  }

  .gv-menu-content-main .gv-menu-content-links a {
    padding: 5px 12px 5px 10px;
    border-radius: 0;
    font-size: 18px;
    font-weight: 700;

    &:hover {
      background-color: rgba(90, 37, 240, 0.5);
      color: black;
    }
  }

  md-divider {
    width: 100%;
  }

}

.gravitee-sidenav {
  padding-top: $topbar-height;
}

portal-notifications {
  display: none;
}