.login-page--gr1d-logo {

  margin: 8% auto 30px auto;
  text-align: center;

  img {
    max-width: 194px;
  }
}

.login-page--footer {

  &, a {
      color: white;
  }

  .login-page--terms-link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
  }

  .login-page--copyright {
    font-size: 22px;
    margin-top: 30px;
  }
}

.login-page--forgot-pass-link {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-top: 40px;
}

.login-page--small {
  font-size: 12px;
}

.login-page {

  .form {
      padding: 45px 80px;
  }

  a {
      text-decoration: underline;
  }

  h3 {
      font-size: 22px;
  }

  .message-registration {
    font-size: 16px;
      a {
          text-transform: uppercase;
          font-weight: bold;
      }
  }
}
