md-toolbar.topnavbar {
  max-height: none;
  height: auto;
  min-height: auto;
  padding: 0 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);

  .topnavbar-brand {

    .topnavbar-logo {
      margin-left: $global-gutter;
      margin-right: $global-gutter;

      img {
        max-width: 110px;
      }
    }
  }

  .md-button  {
    margin: 0 8px;
    text-transform: none;
    padding: 20px 10px;

    &:not([disabled]):hover {
      color: $color-black;
    }
  }
}

.gravitee-sidenav {
  padding-top: 66px;
}

portal-notifications {
  display: none;
}