.gr1d-admin form[name="formUser"] {

  .gravitee-upload-image {
    margin: 15px 25px 0 25px;
    border-radius: 0;
    background-color: $color-white-three;
    min-height: 140px;
    padding: 10px;
  }

  .gravitee-upload-image-button {
    background-color: $color-white-two;
    margin: 0 25px;

    p {
      padding: 10px;
    }

    a {
      @extend %link-gr1d-uppercase;
    }
  }

  md-card {
    min-height: 280px;
  }

  .gravitee-user-container {
    md-card-title {
      max-height: 130px;
    }

    md-card-content {
      color: $color-greyish-brown;

      label {
        font-weight: 500;
        font-size: 16px;
      }

      .layout-row {
        padding: 8px 0;
      }
    }
  }

  .gr1d-icon {
    margin-right: 20px;
  }
}