.apis-sidenav {
  background-color: $color-pale-grey-two;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
  margin-left: 0;

  ul {
      padding-left: 70px;
      margin-top: 25px;
  }

  .sidenav_item {
      width: 210px;
      background-color: white;

      span {
        font-size: 22px !important;
        font-weight: 500 !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;;
      }
  }
}


.apis-content {
  margin-top: 30px;

  .apis-filter {
    @extend %input-search;
    margin: 4px 15px 6px 14px;
  }

  .api-gallery {

    md-table-container {
      margin-top: 25px;
      padding: 0 8px 0 15px;

      table {
        border: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);

        td.md-cell {
          border-top: 2px $color-grey solid;
          line-height: 140%;
        }

        tr:first-child > td.md-cell {
          border-top: 0;
        }

        tr:hover td {
          background: $color-grey;
        }
      }

      table tr.even, table tr.alt, table tr:nth-of-type(even) {
        background: transparent;
      }

      td {
        font-size: 16px;
    
        &.api-picuture {
          max-width: 110px;
          padding: 0 20px !important;
        }

        &.api-name {
          font-size: 18px;
          font-weight: 700;
          padding: 0px 20px 0 0 !important;
          min-width: 200px;
        }

        &.api-version {
          padding: 0 30px 0 0 !important;
        }
      }


    }

  }
  

}