md-table-pagination {
  .label {
    font-size: 16px;
    font-weight: 500;
    color: $color-greyish-brown;
  }
  md-select-value {
    font-size: 16px;
    padding: 0px 14px 2px 14px;
    color: $color-greyish-brown;
  }
}