


$font-family-1: 'Barlow', sans-serif;

$color-purple: #5a25f0;
$color-purple-hover: rgba(120, 74, 247, 0.48);
$color-purple-light: #f4eeff;
$color-purple-light-hover: rgba(244, 238, 255, 0.48);
$color-anil: #00e5ff;
$color-anil-light-hover: rgba(241, 253, 255, 0.48);
$color-greenish: #44af69;
$color-jungle-green: #007f3d;

$color-black: #212121;
$color-dark-grey: #393b3b;
$color-brownish-grey: #616161;
$color-white: #fff;

$color-white-two: #f5f5f5;
$color-white-three: #eeeeee;
$color-pale-grey-two: #f5f5f8;
$color-grey: #eee;
$color-greyish-brown: #424242;
$color-grey-dark: #424242;

$color-violet-blue: #3d0dc7;
$color-white-90: rgba(255, 255, 255, 0.9);
$color-white-68: rgba(255, 255, 255, 0.68);
$color-white-62: rgba(255, 255, 255, 0.62);
$color-white-2: #f5f5f5;
$color-white-3: #eeeeee;
$color-purpleish-blue: #784af7;

$color-purpleish-blue: #784af7; //POST
$color-pale-lavender: #f1ecfe;

$color-water-blue: #12a3de; // GET
$color-duck-egg-blue: #e7f5fb;

$color-golden: #e4b301; // PUT
$color-off-white: #fcf7e5;

$color-tomato: #e14e1a; // DELETE
$color-very-light-pink: #fcede8;

$color-red-pink: #ee414b;

$global-gutter: 16px;
$global-gutter-min: 8px;
$topbar-height: 84px;

$global-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);


body, h1, h2, div, span, h1 span, p, button, input, .layout-align-center-center > *, md-content, .main-content, b, md-input-container .md-input, md-autocomplete input:not(.md-input) {
    font-family: $font-family-1;
}

a {
    color: $color-purple;
}

md-autocomplete {
    border-radius: 0px;
}

md-autocomplete input:not(.md-input) {
    font-size: 18px;
}

md-autocomplete-parent-scope ng-md-icon {
    fill: $color-grey-dark !important;
}

input.form-control {
    border-radius: 0px;
}

.gravitee-api-card {
    box-shadow: $global-shadow;
    .api-infos {
        text-overflow: ellipsis;
        overflow: hidden;
        height: 50px;
    }
}

// Footer

#footer, #footer div.footer-brand {
    min-height: 40px;
    p {
        padding-top: $global-gutter/2;
    }
    a {
        color: $color-white;
    }
}

// Home
.home {
    #header {
        padding: $global-gutter * 4 0;
    }
    .autocomplete {
        position: relative;
        margin-top: 40px !important;
        .autocomplete-icon {
            position: absolute;
            z-index: 1;
            left: 26%;
        }
        md-autocomplete input {
            margin-left: 38px;
        }
    }
}
.home-title {
    position: relative;
    // &::after {
    //     width: 267px;
    //     height: 8px;
    //     background: $color-purple;
    //     position: absolute;
    //     content:"";
    //     left: -38px;
    //     top: 25px;
    // }
}

.api-box {
    width: 272px;
}

.tall {
    background: $color-grey !important;
    padding: 60px 0px;
    h2.section-title {
        color: $color-black;
        font-family: $font-family-1;
        text-align: left;
        font-weight: bold;
    }
}

.home--gr1d-logo {
    margin: 0px auto;
    text-align: center;
    img {
        max-width: 267px;
    }
}

.gravitee-api-card {
    md-card-title-text .md-headline{
        font-weight: bold;
    }

    .api-infos {
        font-size: 16px;
        small {
            font-size: 16px;
        }
    }
}

// Page Api

#main-content {
    padding-top: $topbar-height !important;
}

#header {
    padding-top: 30px;
}

.gravitee-splash-screen {
    background: $color-white;
    img {
        display: none;
    }
}

.gravitee-no-sidenav-container, md-sidenav.md-sidenav-theme, .api-nav {
    background: $color-black;
}

.md-button, .login-page .md-button {
    font-family: $font-family-1;
    text-transform: uppercase;
    font-weight: 700;
    &.md-primary {
        background: $color-purple;
        color: white;
    }
}

.md-button.md-default-theme.md-fab, .md-button.md-fab {
    background: $color-purple;
}

.apis-sidenav ul li.active span, .doc-sidenav ul li.active span {
    color: $color-purple;
}

.apis-sidenav ul li.active, .api-nav ul li.active a, .api-nav ul li.header-button button.oui-button.thin-button, .doc-sidenav ul li.active {
    border-color: $color-purple;
}

.gravitee-api-card {
    .md-headline {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

md-card md-card-title md-card-title-text {
    width: 80%;
}


// Custom Page API
.api-description {
    span:nth-child(3)  {
        display: none;
    }
}

.apis-sidenav {
    margin-left: 30px;
    background: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}


// Custom Admin - Profile: User
gv-submenu {
    md-list-item[aria-label="Members"],
    md-list-item[aria-label="Notifications"] {
        display: none;
    }
}

.gv-main-container {
    padding-top: $topbar-height !important;
}

.sidenav-footer {
    .sidenav-toggle {
        display: none;
    }
}


.custom-icon {
    margin-right: 10px;
}

// Table

table {
    &.md-table td.md-cell {
        border-top: 0;
        border-bottom: 1px solid $color-white-three;
    }

    & tr.even, table tr.alt, & tr:nth-of-type(even) {
        background: transparent;
    }
}


%link-gr1d-uppercase {
    text-transform: uppercase;
    text-decoration: underline;
    color: $color-purple;
    font-weight: 700;
    font-size: 18px;
}

%input-search {
    padding: 25px 15px 25px 55px;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
    font-size: 18px;

    background-image: url('/themes/assets/icon-search.svg');
    background-repeat: no-repeat;
    background-position: 19px 20px;
    background-color: white;
}

.button-api-display {
  min-width: 48px;
  max-width: 48px;
  border-radius: 0px;
}



@import 'gr1d-buttons';
@import 'gr1d-form';
@import 'gr1d-api-overview';
@import 'gr1d-swagger';
@import 'gr1d-login';
@import 'gr1d-navbar';
@import 'gr1d-apis-page';
@import 'gr1d-api-subscribe';
@import 'gr1d-credit-card';
@import 'gr1d-accordion';
@import 'gr1d-alert';
@import 'gr1d-admin',
        'gr1d-admin-sidenav',
        'gr1d-admin-user',
        'gr1d-admin-applications';
