.gr1d-admin {
  .search {
    padding: 10px;
  }

  .apis-header-filter {
    margin-bottom: 20px;

    input {
      @extend %input-search;
    }
  }

  .gravitee-api-header-content {
    
    h4 {
      color: $color-greyish-brown;
      font-size: 22px;
      font-weight: 700;
    }

    p {
      font-size: 16px;
    }

    .gravitee-api-header-details > span {
      margin: 10px;
      color: $color-greyish-brown;

      svg {
        fill: $color-greyish-brown;
      }
    }

    .gravitee-api-header-read-more {
      color: $color-greyish-brown;
      font-size: 16px;
    }
  }

}