md-toolbar.topnavbar {
  max-height: auto;
  height: auto;
  min-height: auto;
  padding: 0 60px;

  .topnavbar-brand {

    .logo {
      margin-right: 30px;

      img {
        max-width: 110px;
      }
    }
  }

  .md-button  {
    margin: 0 8px;
    text-transform: none;
    padding: 10px 10px;
  }
}

.gravitee-sidenav {
  padding-top: 66px;
}